<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/add-car">Add Car</a>
        </li>
        <% if(!token){ %>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <% } %> <% if(token){ %>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <% } %>
    </ul>
</nav>
