<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Add car</title>
    </head>
    <body>
        <%- include('./includes/nav.ejs', {token : token}) %>
        <form action="/add-car" method="POST">
            <label for="model">Model</label>
            <input type="text" name="model" id="model" />
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" />
            <label for="img">Image</label>
            <input type="url" name="img" id="img" />
            <button type="submit">Add car</button>
        </form>
    </body>
</html>
