<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title><%= text %></title>
    </head>
    <body>
        <%- include('./includes/nav.ejs', {token : token}) %>
        <form action="<%= action %>" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <% if(text === 'Register'){ %>
            <label for="rePassword">Confirm password</label>
            <input type="password" name="rePassword" id="rePassword" />
            <% } %>
            <button type="submit"><%= text %></button>
        </form>
    </body>
</html>
